<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  AddHandler audio/mp4 .m4a
  AddHandler application/x-font-woff .woff
  AddHandler application/x-font-woff .woff2
</IfModule>